html
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
        link(rel="stylesheet" href="css/index.css")
        script(defer src="https://code.getmdl.io/1.3.0/material.min.js")
    body

        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                .mdl-layout__header-row
                    span.mdl-layout-title=title
                    .mdl-layout-spacer
                    nav.mdl-navigation.mdl-layout--large-screen-only
                        a.mdl-navigation__link(href='https://github.com/carloscasalar/youtube-audio-streamer') Fork me on Github

            .mdl-layout__drawer
                span.mdl-layout-title=title
                nav.mdl-navigation
                        a.mdl-navigation__link(href='https://github.com/carloscasalar/youtube-audio-streamer') Fork me on Github

            main.mdl-layout__content
                .page-content
                    form(action="/player" method="GET")
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#youtubeUrl.mdl-textfield__input(type='text' name="youtubeUrl")
                            label.mdl-textfield__label(for='youtubeUrl') Youtube URL
                        .button-bar
                            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored
                                | Listen

                if error
                    span.error=error