audio {
    margin: 10px;
}

.button-bar {
    margin: 10px;
}

.card-wide.mdl-card {
    margin: 0 auto;
    width: 90%;
}
.card-wide > .mdl-card__title {
    color: #fff;
    height: 70%;
}
.card-wide > .mdl-card__menu {
    color: #fff;
}